%h1 History#index
%p Find me in app/views/history/index.html.haml
%div= link_to 'sign out', "#{Settings.hosts.auth.url}#{destroy_user_session_path(:return_to => root_url)}", :method => :delete

%br
%div
  - @histories.each do |history|
    - if content = Content.find_by_id(history.content_id)
      %div
        .title= link_to content.title, content.url
        .visit_time= l history.updated_at
        .brief_content= content.search_content[0..200]
  = paginate @histories
