%br
%div
  = paginate @histories
  %br
  - @histories.each do |history|
    - if content = Content.find_by_id(history.content_id)
      %div
        .title
          %span= content.id
          %span .
          = link_to content.title, content.url
        .visit_time= l history.updated_at
        .brief_content= content.search_content[0..200]
  %br
  = paginate @histories
