%br
%div
  = paginate @histories
  %br
  %table
    %tr
      %td
        .content-list
          - @histories.each do |history|
            - if content = Content.find_by_id(history.content_id)
              .content-item{'data-content-id':content.id}
                .title
                  = link_to content.title, content.url
                .site-url= content.url
                .visit-time= l history.updated_at
                .brief-content= content.search_content[0..200]
      %td.cache-view-td
        .cache-view
  %br
  = paginate @histories
